<html>
  <body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="72913000256-l6ov9h7839iosu72pccap7a34an5umg3.apps.googleusercontent.com"
         data-ux_mode="redirect"
         data-login_uri="/users/google-login">
    </div>
    <div class="g_id_signin" data-type="standard"></div>
  </body>
</html>